/*Use this trick to align to the a certain block, 
Got it from http://davidwalsh.name/css-vertical-center
Don't remember if it needs height defined */

  .content-align-middle{
    position: relative;
    top: 50%;
    transform:translateY(-50%);
  }